html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    
}
img {
    max-width: 100%;
    height: auto;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
nav {
    background-color: #3498db;
    padding: 30px;
}