@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Copenhagen Veteran Foodball Club</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<div class="image-section">
    <img src="~/css/IMG-20230618-WA0024 (1).jpg"  alt="Descriptive Alt Text">
</div>*@
<div class="image-section">
    <img src="~/css/VetPig.png" alt="Descriptive Alt Text">
</div>
